:root {
  --text-color: #fff;
  --box-color: #2206c6;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 500px;
  background-color: var(--box-color);
  border-radius: 20px;
}
body {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  height: 100vh; /* to make the body full height of the viewport */
  margin: 0; /* remove default margin */
  background-color: #000000;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.user {
  font-size: 3em;
}
.image {
  width: 100px;
  border-radius: 50%;
}
.content {
  font-size: 1.5rem;
  font-weight: 600;
}
#title,
#first,
#last {
  font-weight: 100;
}
