body {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  height: 100vh; /* to make the body full height of the viewport */
  margin: 0; /* remove default margin */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 575px;
  height: 825px;
  background-color: #797978;
  border-radius: 20px;
}
#weight-guide {
  margin-top: 25px;
}
#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}

button {
  margin-top: 25px;
  padding: 10px;
  border-radius: 8px;
  color: white;
  background-color: #09ab03;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  border: none;
  margin-left: 84%;
}
button:hover {
  transform: scale(0.96);
}
.CM,
.KG {
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.input_CM {
  width: 200px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 25px;
  color: rgb(1, 152, 253);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px;
}
.input_KG {
  width: 200px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 25px;
  color: rgb(1, 152, 253);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px;
}
