body {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  height: 100vh; /* to make the body full height of the viewport */
  margin: 0; /* remove default margin */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 575px;
  height: 825px;
  background-color: #797978;
  border-radius: 20px;
}
#weight-guide {
  margin-top: 25px;
}
#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}
